<section class="widget" messenger-demo widget>
  <header>
    <h4><span class="fw-semi-bold">Administración </span>de Usuarios</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
      <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 float-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search Countries">
        </div>
      </div>
      <table class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="id_persona">Cedula</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
          </th>
          <th class="no-sort hidden-sm-down">
            <mfDefaultSorter by="ciudad">Dirección</mfDefaultSorter>
          </th>
          <th class="hidden-sm-down">
            <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter>
          </th>
          <th class="hidden-sm-down">
            <mfDefaultSorter by="tipo_usuario">Tipo</mfDefaultSorter>
          </th>
          <th class="no-sort">
            <mfDefaultSorter by="status">Status</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="modalWindow.show()" (click)="cargarDatos(person)" *ngFor="let person of mf.data | SearchPipe : searchText">
          <td>{{person.id_persona}}</td>
          <td ><span class="fw-semi-bold">{{person.nombres}} {{person.apellidos}}</span></td>
          <td class="hidden-sm-down">
            <small>
              <span class="fw-semi-bold">Ciudad:</span>
              &nbsp; {{person.ciudad}}
            </small>
            <br>
            <small>
              <span class="fw-semi-bold">Dirección:</span>
              &nbsp; {{person.direccion}}
            </small>
          </td>
          <td class="hidden-sm-down">
            <span *ngFor="let telf of person.telefono">
              <a href="#">{{telf.numero}}</a>
            </span>
          </td>
          <td class="hidden-sm-down">
            <span *ngFor="let tipo of person.tipo_usuario">
              <a href="#">{{tipo.descripcion}}</a>
            </span>
          </td>
          <td class="width-150">
            <div class="bg-gray-lighter progress-bar mt-xs">
              <progress class="progress progress-sm progress-{{person.status.type}}" value="100" max="100" [ngStyle]="{ 'width': person.status.progress}"></progress>
            </div>
          </td>
        </tr>
        <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
          <td colspan="100">
            No matches
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>

<div bsModal #modalWindow="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="modalWindow.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Datos del Usuario</h4>
      </div>
      <div class="modal-body">
        <section class="widget" widget>
          <div class="widget-body">
            <form class="form-horizontal" role="form">
              <fieldset>  
                <accordion [closeOthers]="true" class="mb-lg show" id="accordion2">
                  <accordion-group>
                    <div accordion-heading>
                          Información personal
                          <i class="fa fa-angle-down float-xs-right"></i>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Cedula</label>
                      <div class="col-md-7 ">
                        <input type="text" name="cedula" [(ngModel)]="persona.id_persona" class="form-control" placeholder="Cedula">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Nombres</label>
                      <div class="col-md-7 ">
                        <input type="text" name="nombres" [(ngModel)]="persona.nombres" class="form-control" placeholder="Nombres">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Apellidos</label>
                      <div class="col-md-7 ">
                        <input type="text" name="apellidos" [(ngModel)]="persona.apellidos" class="form-control" placeholder="Apellidos">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Dirección</label>
                      <div class="col-md-7 ">
                        <input type="text" name="direccion" [(ngModel)]="persona.direccion" class="form-control" placeholder="Dirección">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Provincia</label>
                      <div class="col-md-7 ">
                        <input type="text" name="provincia" [(ngModel)]="persona.provincia" class="form-control" placeholder="Provincia">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="normal-field" class="col-md-4  col-form-label text-md-right">Ciudad</label>
                      <div class="col-md-7 ">
                        <input type="text" name="ciudad" [(ngModel)]="persona.ciudad" class="form-control" placeholder="Ciudad">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="form-control-label col-md-4 col-xs-12  col-form-label text-md-right" for="mask-date">
                        Fecha de Nacimiento
                        <span class="help-block">07/03/2013</span>
                      </label>
                      <div class="col-md-7 col-xs-12">
                        <input id="mask-date" name="mask-phone" class="form-control" [textMask]="dateMask" [(ngModel)]="persona.fecha_nacimiento" type="text"/>
                      </div>
                    </div>   
                  </accordion-group>
                  <accordion-group >
                    <div accordion-heading (click)="newUpdate(addTelefono)">
                          Teléfonos
                          <i class="fa fa-angle-down float-xs-right"></i>
                    </div>
                    <div class="col-md-7 col-xs-12 offset-md-4">
                      <span *ngFor="let telf of persona.telefono">
                        <div *ngIf="telf.operacion != 'delete'">
                          <span class="fw-semi-bold">{{telf.numero}}</span>
                          &nbsp; {{telf.propietario}}
                          <a class="text-primary" (click)="eliminarTelefono(telf)">Eliminar</a>
                          <br>
                        </div>
                      </span>
                      <a class="text-primary" (click)="addTelefono=!addTelefono">
                        +Agregar otro número de teléfono
                      </a>
                    </div>
                    <!--form add -->
                    <div *ngIf="addTelefono">
                      <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Telefono</label>
                        <div class="col-md-7 ">
                          <input type="text" name="numberTlf" [(ngModel)]="numberTlf" class="form-control" placeholder="Número de telefono">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="normal-field" class="col-md-4  col-form-label text-md-right">Propietario</label>
                        <div class="col-md-7 ">
                          <input type="text" name="propietarioTlf" [(ngModel)]="propietarioTlf" class="form-control" placeholder="Propietario">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right" for="default-select">Operadora</label>
                        <div class="col-md-7 ">
                          <select2 id="default-select"
                                  (valueChanged)="select2Changed($event)"
                                  [data]="getTipoTelefono()" [options]="select2Options" width="100%"></select2>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" (click)="addTelefono=false" class="btn btn-gray" >Close</button>
                        <button type="button" (click)="agregarTelefono()" class="btn btn-success">Save</button>
                      </div> 
                    </div>       
                  </accordion-group>
                  <accordion-group>
                    <div accordion-heading>
                          Roles de usuario
                          <i class="fa fa-angle-down float-xs-right"></i>
                    </div>
                    <div class="col-md-7 col-xs-12 offset-md-4">
                      <span *ngFor="let tipo of persona.tipo_usuario">
                        <span class="fw-semi-bold">{{tipo.descripcion}}</span>
                        <a href="#">Eliminar</a>
                      <br>
                      </span>
                      <a href="#">+Agregar rol de usuario</a>
                    </div>        
                  </accordion-group>
                  <accordion-group>
                    <div accordion-heading>
                          Discapacidad
                          <i class="fa fa-angle-down float-xs-right"></i>
                    </div>
                    <div class="col-md-7 col-xs-12 offset-md-4">
                      <span *ngFor="let dis of persona.discapacidad">
                        <span class="fw-semi-bold">{{dis.descripcion}}</span>
                        <a href="#">Eliminar</a>
                      <br>
                      </span>
                      <a href="#">+Agregar discapacidad</a>
                    </div>        
                  </accordion-group>                    
                </accordion>
              </fieldset>
            </form>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modalWindow.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="updatePersona()" (click)="modalWindow.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>



