<h1 class="page-title">Asignaturas & <span class="fw-semi-bold">Cursos</span></h1>
<div class="col-lg-8 offset-lg-2">
    <div class="clearfix">
      <ul class="nav nav-tabs float-xs-left" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#asignatura" role="tab" aria-controls="basic" aria-expanded="true">Asignaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cursos" data-toggle="tab" href="#curso" role="tab" aria-controls="curso" aria-expanded="false">Cursos</a>
        </li>
      </ul>
    </div>
    <div class="tab-content mb-lg" id="myTabContent">
      <!--tab 1 -->
      <div role="tabpanel" class="tab-pane active in clearfix" id="asignatura" aria-labelledby="basic-tab" aria-expanded="true">
        <h3>Asignaturas</h3>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
        </div>
        <div>
          <a class="text-primary" (click)="modalWindow.show()" (click)= "addAsignatura=true">
            +Agregar asignatura
          </a>
        </div>
        <!--tabla-->
        <table class="table table-striped table-hover" [mfData]="dataAsignatura.asignatura" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead>
          <tr>
            <th>
              <mfDefaultSorter by="descripcion">Asignatura</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="area_academica">Área academica</mfDefaultSorter>
            </th>
            <th class="hidden-sm-down">
              <mfDefaultSorter by="estado">Opcion</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let asignatura of mf.data ">
            <td>{{asignatura.descripcion}}</td>
            <td ><span class="fw-semi-bold">{{asignatura.area_academica}}</span></td>
            <td>
              <a *ngIf="asignatura.estado" class="text-primary" (click)="desactivarAsignatura(asignatura)">Desactivar</a>
              <a *ngIf="!asignatura.estado" class="text-success" (click)="activarAsignatura(asignatura)">Activar</a>
            </td>    
          </tr>
          <tr *ngIf="(mf.data).length === 0">
            <td colspan="100">
              No matches
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
      <!--tab 2 -->
      <div role="tabpanel" class="tab-pane" id="curso" aria-labelledby="tipoGrado-tab" aria-expanded="false">
        <h3>Cursos</h3>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
        </div>
        <div>
          <a class="text-primary" (click)="modalWindow.show()" (click)= "addAsignatura=false">
            +Agregar Curso
          </a>
        </div>
        <!--tabla-->
        <table class="table table-striped table-hover" [mfData]="atributosCurso.curso" #mf2="mfDataTable" [mfRowsOnPage]="5">
          <thead>
          <tr>
            <th>
              <mfDefaultSorter by="descripcion">Nombre</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="grado">Grado</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="paralelo">Paralelo</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="periodo">Perido</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="tipo_curso">Tipo</mfDefaultSorter>
            </th>
            <th class="hidden-sm-down">
              <mfDefaultSorter by="estado">Opcion</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let curso of mf2.data ">
            <td>{{curso.descripcion}}</td>
            <td>{{curso.grado}}</td>
            <td>{{curso.paralelo}}</td>
            <td>{{curso.periodo}}</td>
            <td>{{curso.tipo_curso}}</td>
            <td>
              <a *ngIf="curso.estado" class="text-primary" (click)="desactivarAsignatura(curso)">Desactivar</a>
              <a *ngIf="!curso.estado" class="text-success" (click)="activarAsignatura(curso)">Activar</a>
            </td>    
          </tr>
          <tr *ngIf="(mf2.data).length === 0">
            <td colspan="100">
              No matches
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div> 
  </div>

<div bsModal #modalWindow="bs-modal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="modalWindow.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Datos de la clase</h4>
      </div>
      <div>
        <section class="widget" widget>
          <div class="widget-body" *ngIf="!addAsignatura">
            <!--form add -->
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Nombre de curso</label>
              <div class="col-md-8 ">
                <input type="text" class="form-control" name="nombreCurso" [(ngModel)]="nombreCurso" placeholder="Nombre del curso">
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Grado Academico</label>
              <div class="col-md-8">
               <select2 id="default-select"(valueChanged)="selectGrado($event)"[data]="grados" [options]="select2Options" width="100%"> </select2>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Paralelo</label>
              <div class="col-md-8">
               <select2 id="default-select"(valueChanged)="selectParalelo($event)"[data]="paralelos" [options]="select2Options" width="100%"> </select2>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Periodo</label>
              <div class="col-md-8">
               <select2 id="default-select"(valueChanged)="selectPeriodo($event)"[data]="periodos" [options]="select2Options" width="100%"> </select2>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Tipo de curso</label>
              <div class="col-md-8">
               <select2 id="default-select"(valueChanged)="selectTipoCurso($event)"[data]="tipoCursos" [options]="select2Options" width="100%"> </select2>
              </div>
            </div>
          </div>
            <!--form add -->
          <div class="widget-body" *ngIf="addAsignatura">
            <div class="form-group">
              <label for="normal-field" class="col-form-label text-md-right">Asignatura</label>
              <input type="text" name="nombreAsignatura" [(ngModel)]="nombreAsignatura" class="form-control" placeholder="Nombre la Asignatura">
              <label for="normal-field" class="col-form-label text-md-right">Área Academica</label>
              <select2 id="default-select"(valueChanged)="selectAreaAcademica($event)"
                        [data]="areasAcademicas" [options]="select2Options" width="100%">
              </select2>
            </div>
          </div>
        </section>
      </div>
      <div *ngIf="!addAsignatura" class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modalWindow.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="agregarCurso()" (click)="modalWindow.hide()">Save changes</button>
      </div>
      <div *ngIf="addAsignatura" class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modalWindow.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="agregarAsignatura()" (click)="modalWindow.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>

